#sidebar-container .list-group-item+.list-group-item {
    border-top-width: thin; 
}

#sidebar-container .list-group-item {
    border: 1px solid rgba(0,0,0,.125)
}

.list-separator {
    height: 20px;
}